{% extends 'admin_templates/admin_layout.html' %}


{% block content %}

<div class="row">
    <!-- User Profile Card and Academic Details -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                User Profile
            </div>
            <div class="card-body">
                <!-- User Profile content -->
            </div>
        </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
        <div class="card">
            <div class="card-header">
                Academic Details
            </div>
            <div class="card-body">
                <!-- Academic Details content -->
            </div>
        </div>
    </div>
</div>
<!-- QR Code -->
<div class="row mt-3">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                QR Code
            </div>
            <div class="card-body d-flex justify-content-center">
                <img src="path_to_qr_code.png" alt="QR Code" style="width:100px; height:100px;">
            </div>
        </div>
    </div>
</div>

{% endblock content %}